<header>

	<h1 id="board-room">The Board Room</h1>

	<div class="navbar navbar-default">
		<div class="container navbar-main">
			<nav>
				
				<ul class="nav pull-left navbar-nav">
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Games", '#' %></li>
					<li><%= link_to "Reviews", '#' %></li>
					<li><%= link_to "Rules", '#' %></li>
				</ul>

				<ul class="nav pull-right navbar-nav">
					<li><%= link_to "Sign in", '#' %></li>
				</ul>

			</nav>
		</div>
	</div>

</header>
