
<% if signed_in? %>

	<li class="dropdown" id="fat-menu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<%= current_user.username %> <b class="caret"></b>
		</a>
		<ul class="dropdown-menu dropdown-menu-right">
			<li><%= link_to "Profile", current_user %></li>
			<% if current_user.admin? %>
				<li><%= link_to "Meetups", '#' %></li>
				<li class="divider"></li>
				<li><%= link_to "Post a Review", '#' %></li>
				<li><%= link_to "Add a new Game", '#' %></li>
			<% end %>
			<li class="divider"></li>
			<li>
				<%= link_to "Sign out", signout_path, method: "delete" %>
			</li>
		</ul>
	</li>

<% else %>

	<li><%= link_to "Sign up", signup_path %></li>
	<li><%= link_to "Sign in", signin_path %></li>

<% end %>
